header {
    height: 630px;
    background: url(../images/top_bg.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar-light .navbar-nav .nav-link{
    color:#333333;
    font-size: 0.9rem;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1rem;
    padding-left: 1rem;
}
