@media(min-width:1300px){
    * {
        margin: 0;
        padding: 0;
        font-family: "Dejavu sans";
    }
    
    header {
        background: url(../images/top_bg.png);
        height: 700px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .container {
        width: 80%;
        margin: 0px auto;
        padding: 10px;
    }
    
    
    
    /* Title And Brand Logo css  */
    
    .brand {
        width: 69px;
        height: 30px;
        float: left;
        margin: 10px;
    }
    
    .logo a {
        float: left;
        text-decoration: none;
        margin: 10px 0px;
        line-height: 30px;
        font-size: 24px;
        color: #585859;
        text-align: center;
        font-weight: bold;
    }
    
    .logo {
        float: left;
    }
    
    /* Navigation Bar Css */
    nav {
        float: right;
        margin: 10px;
    }
    
    nav ul {
        display: flex;
    }
    
    nav ul li {
        list-style: none;
    }
    
    nav ul li a {
        text-decoration: none;
        color: black;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border: 2px solid transparent;
        display: block;
        font-size: 14px;
        font-weight: 500;
    }
    
    nav ul li a:hover {
        background-color: transparent;
        color: #FC71AF;
    
    }
    
    /* Title Section */
    
    .title {
        width: 80%;
        position: absolute;
        top: 544px;
        left: 290px;
    }
    
    .ketaikensho {
        width: 80%;
        position: absolute;
        top: 440px;
        left: 290px;
    }
    
    .title img {
        width: 80%;
    }
    
    /* information css */
    
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
    .col-11 {
        flex-basis: 91.67%;
        flex-grow: 11;
        flex-shrink: 11;
    }
    
    .col-6 {
        flex-basis: 48%;
    
    }
    
    .col {
        flex-basis: 100%;
        flex-grow: 12;
        flex-shrink: 12;
    }
    
    .col-1 {
        flex-basis: 8.33%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    
    .information {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .info-title {
        color: #1DC3FD;
        margin: 5px 5px 0 40px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #03afeb;
        font-family: "Hira Kaku Std";
    }
    
    .info-items {
        margin: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .info-items ul li {
        list-style: none;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 22px;
        color: #333333;
        font-family: "Hira Kaku Pro";
    }
    
    .info-map {
        background: url(../images/map.png);
        height: 500px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto;
    }
    
    .midasi {
        margin: 20px;
        padding: 10px;
    }
    
    .midasi img {
        width: 600px;
    }
    
    .midasi-text {
        width: 35%;
        margin: 10px 30px;
        padding: 20px;
        font-size: 14px;
        line-height: 28px;
        color: #666666;
        font-family: "Hira Kaku Pro";
    }
    
    .info-cost {
        width: 930px;
        margin: 0 auto;
        margin-top: 30px;
        height: auto;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .info-cost h3 {
        background: url(../images/line_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 38px;
        color: #ffffff;
        font-family: "Koburina Go Std";
        text-align: center;
    }
    
    .info-cost img {
        width: 100%;
        height: 100%;
    }
    
    .banner {
        width: 100%;
        height: 301px;
    
    }
    
    .img1 {
        background: url(../images/sep1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img2 {
        background: url(../images/sep2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img3 {
        background: url(../images/sep3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img4 {
        background: url(../images/sep4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .info-third {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .info-third h2 {
        width: 70%;
        margin: 20px auto;
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 40px;
        color: #03afeb;
        font-family: "Koburina Go Std";
        text-align: center;
    }
    
    .info-third h3 {
        width: 75%;
        margin: 20px auto;
        font-size: 14px;
        line-height: 26px;
        color: #666666;
        font-family: "Hira Kaku Pro";
        text-align: center;
    }
    
    .info-third a h4 {
        width: auto;
        margin: 10px auto;
        height: 39px;
        line-height: 39px;
        padding: 0px;
        background: url(../images/arrow.png), url(../images/btn.png);
    
        background-repeat: no-repeat;
        background-position: 41% -10px, 50% 0%;
        font-size: 15px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family: "Koburina Go Std";
        text-align: center;
        border-radius: 5px;
    
    
    }
    
    
    .info-third a {
        text-decoration: none;
    }
    
    .info-third h5 {
        width: 18%;
        background: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-position: 20px -10px;
        margin: 10px auto;
        color: #000000;
        font-size: 13px;
        line-height: 12px;
        font-family: "Hira Kaku Pro";
        text-align: center;
    }
    
    
    
    .info-third a h5:hover {
        background-color: #FC71AF;
        background: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 20px 1px;
    }
    
    .link nav ul {
        display: flex;
    }
    
    .link nav ul li {
        list-style: none;
    }
    
    .link nav ul li a {
        display: block;
        padding: 10px 5px;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #666666;
        font-family: "Hira Kaku Std";
        text-align: right;
    }
    
    .link nav ul li a:hover {
        background-color: transparent;
        border: none;
        border: 2px solid transparent;
    
    }
    
    .copyright {
        padding: 10px 20px;
        line-height: 60px;
    }
    
    footer {
        margin-top: 50px;
        font-size: 11px;
        letter-spacing: 0px;
        line-height: 20px;
        color: #666666;
        font-family: "Gotham";
    }
}

@media(min-width:1025px) and (max-width:1280px){
    * {
        margin: 0;
        padding: 0;
        font-family: "Dejavu sans";
    }
    
    header {
        background: url(../images/top_bg.png);
        height: 700px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .container {
        width: 80%;
        margin: 0px auto;
        padding: 10px;
    }
    
    
    
    /* Title And Brand Logo css  */
    
    .brand {
        width: 69px;
        height: 30px;
        float: left;
        margin: 10px;
    }
    
    .logo a {
        float: left;
        text-decoration: none;
        margin: 10px 0px;
        line-height: 30px;
        font-size: 24px;
        color: #585859;
        text-align: center;
        font-weight: bold;
    }
    
    .logo {
        float: left;
    }
    
    /* Navigation Bar Css */
    nav {
        float: right;
        margin: 10px;
    }
    
    nav ul {
        display: flex;
    }
    
    nav ul li {
        list-style: none;
    }
    
    nav ul li a {
        text-decoration: none;
        color: black;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border: 2px solid transparent;
        display: block;
        font-size: 14px;
        font-weight: 500;
    }
    
    nav ul li a:hover {
        background-color: transparent;
        color: #FC71AF;
    
    }
    
    /* Title Section */
    
    .title {
        width: 80%;
        position: absolute;
        top: 544px;
        left: 150px;
    }
    
    .ketaikensho {
        width: 80%;
        position: absolute;
        top: 440px;
        left: 150px;
    }
    
    .title img {
        width: 100%;
    }
    
    /* information css */
    
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
    .col-11 {
        flex-basis: 91.67%;
        flex-grow: 11;
        flex-shrink: 11;
    }
    
    .col-6 {
        flex-basis: 48%;
    
    }
    
    .col {
        flex-basis: 100%;
        flex-grow: 12;
        flex-shrink: 12;
    }
    
    .col-1 {
        flex-basis: 8.33%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    
    .information {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .info-title {
        color: #1DC3FD;
        margin: 5px 5px 0 40px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #03afeb;
        font-family: "Hira Kaku Std";
    }
    
    .info-items {
        margin: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .info-items ul li {
        list-style: none;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 22px;
        color: #333333;
        font-family: "Hira Kaku Pro";
    }
    
    .info-map {
        background: url(../images/map.png);
        height: 500px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto;
    }
    
    .midasi {
        margin: 20px;
        padding: 10px;
    }
    
    .midasi img {
        width: 600px;
    }
    
    .midasi-text {
        width: 35%;
        margin: 10px 30px;
        padding: 20px;
        font-size: 14px;
        line-height: 28px;
        color: #666666;
        font-family: "Hira Kaku Pro";
    }
    
    .info-cost {
        width: 930px;
        margin: 0 auto;
        margin-top: 30px;
        height: auto;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .info-cost h3 {
        background: url(../images/line_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 38px;
        color: #ffffff;
        font-family: "Koburina Go Std";
        text-align: center;
    }
    
    .info-cost img {
        width: 100%;
        height: 100%;
    }
    
    .banner {
        width: 100%;
        height: 301px;
    
    }
    
    .img1 {
        background: url(../images/sep1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img2 {
        background: url(../images/sep2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img3 {
        background: url(../images/sep3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img4 {
        background: url(../images/sep4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .info-third {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .info-third h2 {
        width: 70%;
        margin: 20px auto;
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 40px;
        color: #03afeb;
        font-family: "Koburina Go Std";
        text-align: center;
    }
    
    .info-third h3 {
        width: 75%;
        margin: 20px auto;
        font-size: 14px;
        line-height: 26px;
        color: #666666;
        font-family: "Hira Kaku Pro";
        text-align: center;
    }
    
    .info-third a h4 {
        width: auto;
        margin: 10px auto;
        height: 39px;
        line-height: 39px;
        padding: 0px;
        background: url(../images/arrow.png), url(../images/btn.png);
    
        background-repeat: no-repeat;
        background-position: 41% -10px, 50% 0%;
        font-size: 15px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family: "Koburina Go Std";
        text-align: center;
        border-radius: 5px;
    
    
    }
    
    
    .info-third a {
        text-decoration: none;
    }
    
    .info-third h5 {
        width: 18%;
        background: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-position: 20px -10px;
        margin: 10px auto;
        color: #000000;
        font-size: 13px;
        line-height: 12px;
        font-family: "Hira Kaku Pro";
        text-align: center;
    }
    
    
    
    .info-third a h5:hover {
        background-color: #FC71AF;
        background: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 20px 1px;
    }
    
    .link nav ul {
        display: flex;
    }
    
    .link nav ul li {
        list-style: none;
    }
    
    .link nav ul li a {
        display: block;
        padding: 10px 5px;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #666666;
        font-family: "Hira Kaku Std";
        text-align: right;
    }
    
    .link nav ul li a:hover {
        background-color: transparent;
        border: none;
        border: 2px solid transparent;
    
    }
    
    .copyright {
        padding: 10px 20px;
        line-height: 60px;
    }
    
    footer {
        margin-top: 50px;
        font-size: 11px;
        letter-spacing: 0px;
        line-height: 20px;
        color: #666666;
        font-family: "Gotham";
    }
}